# Node.js
**/node_modules/
**/npm-debug.log*

# Angular build and cache
**/.angular/
**/dist/

# Environment and sensitive files
**/.env
**/local.properties

# Editor config
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?