<aside class="premium-sidebar">
  <div class="sidebar-menu">
    <a class="menu-item" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a class="menu-item" routerLink="/authors" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Authors Registry</span>
    </a>
    <a class="menu-item" routerLink="/books" routerLinkActive="active">
      <mat-icon>library_books</mat-icon>
      <span>Books Inventory</span>
    </a>
  </div>
</aside>